<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petsitterfinder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.petsitterfinder.PetSitterFinderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.petsitterfinder.activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.petsitterfinder.activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.petsitterfinder.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.petsitterfinder.PetProfileActivity"
            android:label="@string/title_activity_pet_profile" >
        </activity>
        <activity
            android:name="com.petsitterfinder.activities.CreatePetProfile"
            android:label="@string/title_activity_create_pet_profile" >
        </activity>
        <activity
            android:name="com.petsitterfinder.activities.SitterSearchResult"
            android:label="@string/title_activity_sitter_search_result" >
        </activity>
        <activity
            android:name="com.petsitterfinder.SitterProfileActivity"
            android:label="@string/title_activity_sitter_profile" >
        </activity>
    </application>

</manifest>
